# Compiled
*.elc
.bookmarks.el
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
.org-id-locations
.session
abbrev_defs
auto-save-list/
bookmarks
elpa/
eshell/
history
ido.last
image-dired/
jabber-avatar-cache/
lisp/init-clojure-cider.el
lisp/init-gnus.el
lisp/init-helm.el
lisp/init-org-page.el
org-clock-save.el
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
tutorial/
var/
*~
\#*\#

